.haderTitle {
    text-align: center;
    font-family: 'Trade Winds';
    color: cadetblue;
}

#styleDataTable {
    margin-top: 20px;
}

#createFrom {
    margin-left: 200px;
}

#updateFrom {
    margin-left: 200px;
}

#styleDataTableCountry {
    margin-top: 20px;
    margin-left: 150px;
}

#customerFromLeft {
    margin-left: 140px;
}

#customerFromRight {
    margin-left: -150px;
}

#addressForCustomer {
    margin-left: 290px;
}

#btnForCustomer {
    text-align: -webkit-center;
}

#styleDataTableCustomer {
    margin-top: 20px;
}

#customerRemoveRight {
    margin-left: -400px;
    margin-top: 100px;
}