
BankAccountSimulation/.vs/BankAccountSimulation/v16/Server/sqlite3/storage.ide-shm
BankAccountSimulation/.vs/BankAccountSimulation/v16/Server/sqlite3/storage.ide-wal
BankAccountSimulation/.vs/BankAccountSimulation/DesignTimeBuild/.dtbcache
BankAccountSimulation/.vs/BankAccountSimulation/v16/.suo
BankAccountSimulation/.vs/BankAccountSimulation/v16/Server/sqlite3/storage.ide
