@using Models
@model IEnumerable<TransferMoney>

@{
    ViewData["Title"] = "Transfer Money Record";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="haderTitle">Transfer Money Record</h1>

<div class="row" id="styleDataTableCountry">
    <div class="col-md-6">
        <table id="dataTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sender Account</th>
                    <th>Transfer Information</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TransferMoney item in Model)
                {
                    <tr>
                        <td>Sender Account: @item.AccountId</td>
                        <td>
                            Transfer Account: @item.SendAccountNumber <br />
                            Total Ammount: @item.Ammount <br />
                            Date: @item.TransferMoneyDate <br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

