@using Models
@model IEnumerable<TransferMoney>

@{
    ViewData["Title"] = "Transfer Money Record";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1 class="haderTitle">Transfer Money Record</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="TransferMoney" asp-controller="TransferMoney" class="btn btn-primary"><i class="fas fa-user-plus"></i> Transfer Money</a>
    </div>
</div>

<div class="row" id="styleDataTableCountry">
    <div class="col-md-10">
        <table id="dataTable" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th>My Account</th>
                    <th>Transfer Information</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (TransferMoney item in Model)
                {
                    <tr>
                        <td>
                            My Account: <br />
                        </td>
                        <td>
                            Transfer Account: @item.SendAccountNumber <br />
                            Total Ammount: @item.Ammount <br />
                            Date: @item.TransferMoneyDate <br />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

